.animated-text {
  div {
    visibility: visible !important;
    animation: animated-text 0.75s cubic-bezier(0.77, 0, 0.175, 1);
    transition: opacity ease;
  }
}
.hide {
  visibility: hidden;
}

@keyframes animated-text {
  0% {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0ms ease;
  }
  25% {
    opacity: 0;
  }
}
