@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .clip-path {
    clip-path: inset(-1000px -1000px 0px -1000px);
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
