@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .clip-path {
    clip-path: inset(-1000px -1000px 0px -1000px);
  }
}
